In [1]:
import re
import requests
import numpy as np
import pandas as pd

Compile another test dataset using Google books API. I'm mainly doing since Google formats blurbs differently when compared to Goodreads.

In [2]:
#------------------GOOGLE BOOKS----------------------------------------------
KEY = "AIzaSyA9nGn7d6-DAWGtqxkIFD0oSJjDPPeyEyw"  
BOOK_SEARCH = "https://www.googleapis.com/books/v1/volumes?q=" # flowers+inauthor:keyes&key=yourAPIKey
ID_SEARCH = "https://www.googleapis.com/books/v1/volumes/" # zyTCAlFPjgYC?key=yourAPIKey
_
VALID_GENRES = ['Fantasy', 'Science Fiction', 'Romance', 'Thriller']

In [3]:
data_dict = {'title': [], 'author': [], 'genre': [], 'text': []}
_
for genre in VALID_GENRES:
    print(f"Searching for...{genre}")
    starting_index = 1

    while True:
        try:
            book_search_url = BOOK_SEARCH + f"subject:{genre}&maxResults=40&startIndex={starting_index}&key={KEY}"
            book_search_request = requests.get(book_search_url)
            book_info = book_search_request.json()
            book_items = book_info['items']
            total_items = book_info['totalItems']
        except:
            break
        
        # Iterate through each book item while getting info for each data dict column
        for index, item in enumerate(book_items):
            try:
                book_genre = genre
                book_title = item['volumeInfo']['title']
                book_author = item['volumeInfo']['authors'][0]
                book_text = item['volumeInfo']['description']
                
                # Store items in data dict
                data_dict['title'].append(book_title)
                data_dict['author'].append(book_author)
                data_dict['genre'].append(book_genre)
                data_dict['text'].append(book_text)
            except Exception as e:
                continue
                
        # Check if starting_index is still within bounds of search parameters
        starting_index += 40
        if starting_index >= total_items:
            break
_
print(f"\n~Complete!")

Searching for...Fantasy
Searching for...Science Fiction
Searching for...Romance
Searching for...Thriller

~Complete!

In [4]:
df = pd.DataFrame(data_dict)
_
print(df.shape, '\n')
df.sample(10)

(800, 4)

,title,author,genre,text
673,The Skin Collector,Jeffery Deaver,Thriller,A tattoo artist is using poison instead of ink...
292,The Invisible Man,H.G. Wells,Science Fiction,"With his face swaddled in bandages, his eyes h..."
186,Science Fiction by Scientists,Michael Brotherton,Science Fiction,This anthology contains fourteen intriguing st...
258,The Caloris Network,Nick Kanas,Science Fiction,The year is 2130. The first-ever expedition is...
503,It Happened One Summer,Tessa Bailey,Romance,Tessa Bailey is back with a Schitt's Creek-ins...
210,Nation and Region in Modern American and Europ...,Thomas O. Beebee,Science Fiction,In his book Nation and Region in Modern Americ...
558,To Beguile a Beast,Elizabeth Hoyt,Romance,Sir Alistair Munroe is a naturalist knighted f...
549,Wild Designs,Katie Fforde,Romance,"Althea, who is divorced and has three children..."
693,Chill Factor,Sandra Brown,Thriller,Chief Dutch Burton and his police force have b...
582,A Bend in the Road,Nicholas Sparks,Romance,Miles Ryan's life seemed to end the day his wi...

### Prep data

In [5]:
# Check label counts
df['genre'].value_counts()

genre
Science Fiction    270
Thriller           188
Fantasy            173
Romance            169
Name: count, dtype: int64

In [6]:
# Remove invalid text entries and duplicated titles
df = df[~df['text'].apply(lambda x: len(x) < 100)]
df = df[~df.duplicated(subset=['title'])]
# Add ID
df['id'] = range(1, len(df) + 1)

In [7]:
# Save dataset
df.to_csv(f"testing_datasets/compiled_books.csv", index=False)