In [2]:
import re
import time
import requests
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
_
# Web scraping
from bs4 import BeautifulSoup

In [4]:
# Load in a dataset
df = pd.read_csv(f"processed_datasets/my_books_CLEANED.csv")
_
print(df.shape)
df.head()

(10000, 7)

,id,book_id,isbn,title,author,genre,text
0,1,2767052,439023483,The Hunger Games,Suzanne Collins,Fantasy,"Could you survive on your own in the wild, wit..."
1,2,3,439554934,Harry Potter and the Sorcerers Stone,J.K. Rowling,Fantasy,Harry Potter has no idea how famous he is. Tha...
2,3,41865,316015849,Twilight,Stephenie Meyer,Romance,About three things I was absolutely positive.F...
3,4,2657,61120081,To Kill a Mockingbird,Harper Lee,NaN,The unforgettable novel of a childhood in a sl...
4,5,4671,743273567,The Great Gatsby,F. Scott Fitzgerald,Romance,"The Great Gatsby, F. Scott Fitzgerald's third ..."

### Goodreads scraper

Just a shoddy put together scraper that can retrieve blurbs and genres for each book.

In [5]:
PATH = "https://www.goodreads.com/book/show/"

In [6]:
def find_genre(genre_list: list) -> str:
    """
    Determines if a book genre is valid or not.
    """
    valid_genres = ['Science Fiction', 'Romance', 'Thriller', 'Fantasy']
    for genre in genre_list:
        if genre in valid_genres:
            if genre == 'Horror' or genre == 'Crime' or genre == 'Mystery':
                return 'Thriller'
            return genre
    
    # If no genre is in valid_genres:
    return np.nan

In [35]:
# for index, row in tqdm(df.iloc[9000:].iterrows(), total=1000):
#     book_title = row['title'].lower().replace(' ', '-')  # Reformat string
#     book_id = row['book_id']

#     try:
#         # Connect to webpage
#         book_url = PATH + f"{book_id}-{book_title}"
#         book_page = requests.get(book_url)
#         # Scrape info
#         soup = BeautifulSoup(book_page.content, 'html.parser')
#         book_description = soup.find_all('span', {'class': 'Formatted'})[0].text
#         book_genres = [tag.text for tag in soup.find_all('span', {'class': 'BookPageMetadataSection__genreButton'})]
#         selected_genre = find_genre(book_genres)
#         # Store values in dataframe
#         df.loc[index, 'genre'] = selected_genre
#         df.loc[index, 'text'] = book_description
#     except Exception as e:
#         print(f"Error occured at index pos: {index}, {row['title']}: {e}")

In [29]:
df['genre'].value_counts()

genre
Fantasy            2532
Romance            1904
Thriller           1225
Science Fiction     589
Name: count, dtype: int64

In [33]:
# Drop rows with NaN values
df = df.dropna()

In [34]:
df.to_csv('original_datasets/my_books_CLEANED.csv', index=False)